<form >
  <div class="form-group-inline">
    <div class="row">
      <div class="col-lg-9">
        <input
        type="text"
        class="form-control"
        name="search"
        id="search"
        [(ngModel)]="search">
      </div>
      <div class="col-lg-2">
        <button class="btn btn-outline-danger">Search</button>
        <button class="btn btn-outline-danger" (click)="toggle()">Filter</button>
      </div>
    </div>
  </div>
</form>
<div *ngIf="filter">
  <app-filter></app-filter>
</div>
